/* mantiene la poscicion de la linea azul de abajo de la pagina principal */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
nav {
  color: #fff;
  background-color:#2858cf;
  width: 100%;
  height: 56px;
  line-height:28px;
}
/* para que el fondo de las demas paginas sea azul */
body.azul {
  background-color: #5787ff !important;
}


/* disenio de los botones normales */
.boton {
  background-color: #63e4fe;
  border-radius: 32px;
  border: 2px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 35px;
  width: 100%;
}

/* variacion de los votones normales son los botones de la pagina principal */
.boton.principal {
  font-size: 13px;
  margin: 2px 3px;
  width: 90%;
}
.disabled{
    background-color: #b7b9bf !important;
}
/* haciendo que los botones cambien de color al poscicionarse sobre ellos */
.boton:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover 
button {
  text-decoration:groove border;
  background-color: #3ecce9;
}

/*adaptable para pantallas medianas osea laptops y pcs normales*/
@media only screen and (min-width: 1000px) and (max-width:1366px) {
    .preloader{
        /*
        Making the preloader floating over other elements.
        The preloader is visible by default. 
        */
        position: fixed;
        top:78%;
        left:40%;
        width: 20vw;
        height: 20vh;
        z-index: 100000;
      }
.mediana{
    width:250px;
    height:200px;
}
  .contenedor {
    border-radius: 32px;
    max-height: 650px; 
  }
  .error{
    width: 640px;
    height:640px;
  }
  .e404{
    width: 1000px;
  }
  .contenedor.blanco {
    background-color: white;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #personal {
    height: 600px;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 10%;
  }
  /* centrar manualmente algo */
  .jonh{
    margin-left:552px;
  }
  /* disenio de los botones de button,reset y submit (brs 1/4) */
  input[type="button"],
  input[type="reset"],
  input[type="submit"]
  button  {
    background-color: #63e4fe;
    border-radius: 32px;
    height: 40px;
    width: 80%;
  }
}

/* adaptable para compus grandes */
@media only screen and (min-width: 1367px) {
  .preloader{
    /*
    Making the preloader floating over other elements.
    The preloader is visible by default. 
    */
    position: fixed;
    top:78%;
    left:40%;
    width: 20vw;
    height: 20vh;
    z-index: 100000;
  }
  .error{
    width: 600px;
    height:600px;
  }
  .e404{
    width: 900px;
    height:600px;
  }
  /* (c 2/4) */
  .contenedor{
    border-radius: 32px;
    height: auto;
  }
  .contenedor.blanco {
    background-color: white;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 10%;
  }
  .jonh{
    margin-left:552px;
  }
  /* disenio de los botones de button,reset y submit (brs 2/4) */
  input[type="button"],
  input[type="reset"],
  input[type="submit"] 
  button {
    background-color: #63e4fe;
    border-radius: 32px;
    height: 40px;
    width: 80%;
  }

}

/* adaptandolo a pantallas medianamente pequenias osea tablets */
@media only screen and (min-width: 601px) and (max-width: 999px) {
  .error{
    width: 700px;
    height:700px;
  }
  .e404{
    width: 900px;
  }
  .mediana{
    width:250px;
    height:300px;
  }
  /* (c 3/4) */
  .contenedor {
    border-radius: 32px;
    margin-top: 12%;
    margin-left: 14%;
    margin-right: 3%;
    min-width: 601px;
    width: 50%;
    height: 50%;
    min-height: 1024px;

  }

  .contenedor.blanco {
    background-color: white;
  }

  /* plantilla de los botones (brs 3/4) */
  input[type="button"],
  input[type="reset"],
  input[type="submit"] 
  button {
    background-color: #63e4fe;
    border-radius: 32px;
    height: 50px;
    width: 50%;
  }


  /* haciendo que las tablets tengan el mism disenio de los telefonos */
  .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.offset-s1 {
    margin-left: 8.3333333333%;
  }

  .row .col.pull-s1 {
    right: 8.3333333333%;
  }

  .row .col.push-s1 {
    left: 8.3333333333%;
  }

  .row .col.offset-s2 {
    margin-left: 16.6666666667%;
  }

  .row .col.pull-s2 {
    right: 16.6666666667%;
  }

  .row .col.push-s2 {
    left: 16.6666666667%;
  }

  .row .col.offset-s3 {
    margin-left: 25%;
  }

  .row .col.pull-s3 {
    right: 25%;
  }

  .row .col.push-s3 {
    left: 25%;
  }

  .row .col.offset-s4 {
    margin-left: 33.3333333333%;
  }

  .row .col.pull-s4 {
    right: 33.3333333333%;
  }

  .row .col.push-s4 {
    left: 33.3333333333%;
  }

  .row .col.offset-s5 {
    margin-left: 41.6666666667%;
  }

  .row .col.pull-s5 {
    right: 41.6666666667%;
  }

  .row .col.push-s5 {
    left: 41.6666666667%;
  }

  .row .col.offset-s6 {
    margin-left: 50%;
  }

  .row .col.pull-s6 {
    right: 50%;
  }

  .row .col.push-s6 {
    left: 50%;
  }

  .row .col.offset-s7 {
    margin-left: 58.3333333333%;
  }

  .row .col.pull-s7 {
    right: 58.3333333333%;
  }

  .row .col.push-s7 {
    left: 58.3333333333%;
  }

  .row .col.offset-s8 {
    margin-left: 66.6666666667%;
  }

  .row .col.pull-s8 {
    right: 66.6666666667%;
  }

  .row .col.push-s8 {
    left: 66.6666666667%;
  }

  .row .col.offset-s9 {
    margin-left: 75%;
  }

  .row .col.pull-s9 {
    right: 75%;
  }

  .row .col.push-s9 {
    left: 75%;
  }

  .row .col.offset-s10 {
    margin-left: 83.3333333333%;
  }

  .row .col.pull-s10 {
    right: 83.3333333333%;
  }

  .row .col.push-s10 {
    left: 83.3333333333%;
  }

  .row .col.offset-s11 {
    margin-left: 91.6666666667%;
  }

  .row .col.pull-s11 {
    right: 91.6666666667%;
  }

  .row .col.push-s11 {
    left: 91.6666666667%;
  }

  .row .col.offset-s12 {
    margin-left: 100%;
  }

  .row .col.pull-s12 {
    right: 100%;
  }

  .row .col.push-s12 {
    left: 100%;
  }
  table.pata{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display:flex;
    position: relative;
  }
  .preloader{
    /*
    Making the preloader floating over other elements.
    The preloader is visible by default. 
    */
    position: fixed;
    top:350px;
    left: 300px;
    width: 25vw;
    height: 25vh;
    z-index: 10000;
  }
}

/*adaptable para pantallas pequeñas celulares*/
@media only screen and (max-width: 600px) {
  .preloader{
    /*
    Making the preloader floating over other elements.
    The preloader is visible by default. 
    */
    position: fixed;
    top:350px;
    left: 150px;;
    width: 20vw;
    height: 10vh;
    z-index: 10000;
  }
  .error{
    width: 600px;
    height:1000px;;
  }

  .e404{
    width:340px;
    height:620px;
  }
  /* (c 4/4) */
  .contenedor {
    border-radius: 32px;
    margin-top: 30%;
    margin-left: 12%;
    margin-right: 3%;
    max-width: 600px;
    width: 75%;
    height: 50%;
    min-height: 600px;

  }

  .contenedor.blanco {
    background-color: white;
  }

  /* plantilla de los botones (brs 4/4) */
  input[type="button"],
  input[type="reset"],
  input[type="submit"]
  button {
    background-color: #63e4fe;
    border-radius: 32px;
    height: 50px;
    width: 75%;
  }
table.pata{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display:flex;
  position: relative;
}
}

/*plantilla de 11 tipos de input */
input:not([type]),
input.text[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default) {
  background-color: #d5d4d2;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-size: 16px;
  margin: 10px 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
input[type=search]:not(.browser-default) {
  background-color: #a5acbf;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  width:100%;
  font-size: 16px;
  margin: 10px 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

/* disenio del textarea */
textarea {
  background-color: #d5d4d2;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 10px;
  outline: none;
  height: 10rem;
  width: 100%;
  font-size: 16px;
  margin: 10px 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}


/* cambiandole el color del texto al placeholder */
::placeholder {
  color: #000;
  ;
}

/* plantilla de combobox */
.program .select-wrapper input.select-dropdown,
input.fecha[type=text]:not(.browser-default) {
  position: relative;
  cursor: pointer;
  background-color: #d5d4d2;
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 10px 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

/* icono del combobox */
.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 2;
  fill: rgba(0, 0, 0, 0.87);
}

/* contenido del combobox */
.dropdown-content {
  background-color: silver;
  margin: 0;
  display: none;
  min-width: 100px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* texto del combobox */
.dropdown-content li>a,
.dropdown-content li>span {
  font-size: 16px;
  color: black;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

/*poner los iconos blancos */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
 

/*manda a llamar a la fuente material icons */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* para el tamanio de los iconos */
.material-icons.md-38 {
  font-size: 38px;
}

/*poner iconos oscuros*/
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

/* color del cuadro del datepicker */
.datepicker-date-display {
  background-color: #5787ff;
}

/* color del seleccionador cuando se esta seleccinando */
.datepicker-day-button:focus {
  color: black !important;
  background-color: #3ecce9;
}

/* color del combobox de meses, y de los enlaces anios,ok y cancel */
.datepicker-done,
.datepicker-cancel,
.is-today {
  color: black !important;
}

/* color del seleccionador cuando se ha seleccinado un dia y de las flechas de siguente y anterior cuando son apretadas */
td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #5787ff !important;
}

/* color del texto del dia seleccionado */
td.is-selected.is-today {
  color: white !important;
}

/* disenio del enlace cerrar */
a.cerrar,
a.boticono {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited.cerrar,
a:visited.boticono {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover.cerrar,
a:hover.boticono {
  color: rgb(80, 76, 76);
  background-color: transparent;
  text-decoration: underline;
}

a:active.cerrar {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active.boticono {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

/* la linea azul de abajo de la pagina principal  */
.pie {
  padding-top: 20px;
  background-color: #5787ff;
  height: 75px;
}

/* color de las pestanias sin seleccionar */
.tabs .tab a {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

/* linea indicadora de pestania en uso */
.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black;
  will-change: left, right;
}

/* pestania en uso */
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #080808;
}
.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color:#3a72ff00;
  margin: 0 auto;
  white-space: nowrap;
}

/* color de pestania cuando se preciona */
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(0, 0, 0, 0.295);
  outline: none;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #000;
}

/* contenedor gris para proveedores y especialidad */
.contenedor.gris {
  border-radius: 12px;
  width: 75%;
  height: 43vh;
  margin-top: 5%;
  margin-left: 4%;
  margin-left: 10%;
  background-color: rgb(151, 151, 151);
  min-height:0px;
}
.pequeño{
  width:150px;
}
.hide-on-me-and-down{
  width:250px;
  height:200px;
}
.lista {
  overflow: auto;
  height: 300px;
}

.detalle {
  height: 450px;
  overflow: auto;
}

.input-field>label,
label.checkbox {
  color: #000;
}
.sidenav{
  background-color:#2858cf;
}